// Define a color variable
$react-grey: #282c34;;

@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

body {
  margin: 0
}

.app-header {
  background-color: $react-grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(10px + 2vmin);
  font-family: 'Public Sans', sans-serif;
}